@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */

body {
  margin: 0;
}

/* * {
  border: 1px solid black;
} */